{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <title>{% block title %} {% endblock %}</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
    <link rel="stylesheet" href="{% block styles %}{% endblock %}">
</head>

<body>
    
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand mb-0 h1" href="{% url 'main' %}">ATS news</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'all_articles' %}">Лента <span class="sr-only">фыв</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'about' %}">О сайте</a>
            </li>
          </ul>
          
          
          
          {% if user.is_authenticated %}
            <p class="btn my-2">{{ user }}</p>
            <a class="btn btn-outline-success my-2 my-sm-0" href="{% url 'add_article' %}">Написать статью</a>
            <a class="btn btn-primary" href="{% url 'up' user.id %}">Профиль</a>

          {% else %}
            <a class="btn btn-success" href="{% url 'login' %}">Войти</a>
          {% endif %}

        </div>
      </nav>

      
    

    {% block main %} {% endblock %}

    
    <footer>
        <div class="footer">
            <p>Copyright © Завьялов Даниил 2021<br>v0.1</p>
        </div>
    </footer>

</body>

</html>
