{% extends 'layout.html' %}
{% load static %}

{% block title %}LOGIN{% endblock %}
{% block styles %}{% static 'css/article.css' %}{% endblock %}

{% block main %}

{% if messages %}
  {% for message in messages %}
    <h2>{{ message }}</h2>
  {% endfor %}
{% endif %}

<div class="article">
  <form method="post">
    {% csrf_token %}
    <div class="form-row">
      <div class="col">
        {{ form.login.errors }}
        {{ form.login.label_tag }}
        {{ form.login }}
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        {{ form.password.errors }}
        {{ form.password.label_tag }}
        {{ form.password }}
      </div>
    </div>
    
    <button type="submit" class="btn btn-primary">Войти</button>
  </form>
  <a href="{% url 'registr' %}">Не зарегестрированы?</a>
</div>

{% endblock %}